@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  margin: 0;
}
.glow {
  text-shadow: 0 0 10px #22c55e, 0 0 20px #22c55e;
}
html {
  scroll-behavior: smooth;
}
